{% extends 'base.html' %}

{% block title %}
Crear proveedor
{% endblock %}

{% block content %}
    {% load custom_filters_proveedores %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Crear proveedor</h2>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.nit.label_tag }}
                        {{ form.nit|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el NIT.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.razonSolcial.label_tag }}
                        {{ form.razonSolcial|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa la razón social.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.telefono.label_tag }}
                        {{ form.telefono|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el teléfono.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el email.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.direccion.label_tag }}
                        {{ form.direccion|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa la dirección.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.nombreContacto.label_tag }}
                        {{ form.nombreContacto|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el nombre del contacto.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.celular.label_tag }}
                        {{ form.celular|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el nombre del contacto.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        </div>

        <!-- Fila para botón de volver -->
        <div class="row mt-3">
            <div class="col text-center">
                <a href="{% url 'indexProveedores' %}" class="btn btn-secondary">Volver a Proveedores</a>
            </div>
        </div>

    </div>

    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}