{% extends 'base.html' %}

{% block title %}
Crear Parametro
{% endblock %}

{% block content %}
    {% load custom_filters_configuracion %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Crear tipo de costo</h2>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.nombre.label_tag }}
                        {{ form.nombre|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el nombre.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.porcentaje.label_tag }}
                        {{ form.porcentaje|add_class:"form-control" }}
                        <div class="invalid-feedback">
                            Por favor, ingresa el porcentaje.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        </div>

        <!-- Fila para botón de volver -->
        <div class="row mt-3">
            <div class="col text-center">
                <a href="{% url 'indexParametros' %}" class="btn btn-secondary">Volver a parametros tributarios</a>
            </div>
        </div>

    </div>
    
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
